/*sectionWrap*/

#content_top100 .section01 {height:250px;}
#content_top100 .section01 .cont {
	width:120px; height:250px;
	overflow:hidden;
	float:left; position:relative; 
	border-left:solid 1px #f0ede7;
}
#content_top100 .section01 .cont div:first-child {border-left:none;}
#content_top100 .section01 .cont .bg {
	position:absolute; top:0; left:0;
}
#content_top100 .section01 .cont .bg img{
	width: 250px; height: 250px;
}

#content_top100 .section01 .cont.on{width:250px;}
#content_top100 .section01 .cont.on .layer{display:none}

#content_top100 .section01 .cont .layer {
	display:block; width:250px; height:250px; 
	position:absolute; left:0; top:0; z-index:1;
	background:#ccc; filter:alpha(opacity=90); opacity:0.5;}
