*{
margin:0px;
padding:0px;
}
img{border:0px;}
html{
width:100%;
background-image:url(../../resources/images/bg.gif);
background-position:top left;
background-repeat:repeat-x;
}
body{
width:1000px;
margin:0 auto;
}

#header{
width:1000px;
overflow:hidden;
padding:14px 0 0 0;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#D8DCE0;
vertical-align: middle;
}
.input{
width:112px;
height:14px;
background-image:url(../../resources/images/input_bg.gif);
background-position:top left;
background-repeat:no-repeat;
border:0px;
padding:2px 8px;
margin:0 8px 0 0;
color:#0D0D0D;
float:left;
}
.enter{
background-image:url(../../resources/images/enter_bg.jpg);
background-position:top left;
background-repeat:no-repeat;
float:left;
width:63px;
height:29px;
text-align:center;
padding:2px 9px 0 0
}
#header .enter a{
color:#FEEEE4;
text-decoration:none;
padding:0 15px
}
.links a{
color:#D8DCE0;
padding:0 13px;
text-decoration:underline
}
.links a:visited{text-decoration:underline}
.links a:hover{text-decoration:none}
.login{
padding:0 0 0 409px;
}
#menu{
padding:0px 0 20px 30px;
float:left;
list-style-type:none;
}
#menu1{
padding:0px 40px 20px 50px;
float:right;
list-style-type:none;
vertical-align: middle;
}
#menu li{
display:inline;
padding:0 13px;
line-height:20px;
}
#menu a{
color:#FFF;
text-decoration:none;
font-size: 10pt;
font-weight: bold;
vertical-align: middle;
}
#menu a:visited{text-decoration:none}
#menu a:hover{text-decoration:none; font-size: 15pt; font-weight: bold;vertical-align: middle;color:#E25822}

#wrapper{
width:956px;
overflow:hidden;
padding:20px 0 20px 39px;
}

#sidebar{
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
width:198px;
float:left;
}

.slogan{
color:#FFFFFF;
background-color:#A65019;
line-height:20px;
display:block;
float:left;
padding:0 7px;
}
.logo_block{
width:193px;
overflow:hidden;
float:left;
padding:0 0 20px 5px;
}
.text1{
color:#858484;
width:145px;
display:block;
float:left;
padding:18px 0 10px 0;
background-image:url(../../resources/images/brick.gif);
background-position:bottom left;
background-repeat:no-repeat;
}
#mv{
	 width:480px;
	 height:270px; 
	 margin: 0px;
	 padding: 0px;
}
#title_ex{
	font-size: 15pt;
}
.jacket_thumb{
	width: 100px;
	height: 100px;
	border-width: 2px;
	border-color: #777;
	border-style: solid;
}
.jacket_thumb100{
	width: 48px;
	height: 48px;
	border-width: 1px;
	border-color: #777;
	border-style: solid;
}
#navigation , #navigation1{
padding:20px 0 0 0;
}
#navigation li{
list-style-type:none;
line-height:19px;
padding:0 0 0 8px;
}

#navigation a{
color:#363636;
text-decoration:none;
}
#navigation a:visited{text-decoration:none}
#navigation a:hover{text-decoration:underline}


#navigation1 li , #navigation2 li{
list-style-type:none;
line-height:25px;
padding:0 0 0 8px;
}

#navigation2{
padding:0px 0 0 0;
}

#navigation2 li a{
text-decoration : none;
}

#nav{
padding:5px 0 0 20px;
}
#nav li{
list-style-type:decimal;
line-height:19px;
padding:0 0 0 8px;
}
#nav a{
color:#363636;
text-decoration:none;
}
#nav a:visited{text-decoration:none}
#nav a:hover{text-decoration:underline}
.color{
background-image:url(../../resources/images/color.gif);
background-position:top left;
background-repeat:no-repeat;
}
.color1{
background-color: #578ca9;
background-position:top left;
background-repeat:no-repeat;
border-top-left-radius: 15px;
border-bottom-right-radius: 15px;
}
#content{
/* background-image:url(../../resources/images/pic.jpg); */
background-position:top left;
background-repeat:no-repeat;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
width:746px;
overflow:hideen;
float:left;
}
#content_top100{
/* background-image:url(../../resources/images/pic.jpg); */
background-position:top left;
background-repeat:no-repeat;
font-family:Arial, Helvetica, sans-serif;
font-size:13px;
width:746px;
overflow:hideen;
float:left;
}
/* .inner_copy{
border:0;
color:#fff;
float:right;
width:0.09%!important;
margin:-100px;
overflow:hidden;
line-height:0px;
padding:0px;
font-size:11px
} */
.search{
padding:104px 0 162px 533px;
color:#505051
}
.search input{
width:114px;
height:18px;
background-image:url(../../resources/images/search_bg.gif);
background-position:top left;
background-repeat:no-repeat;
border:0px;
padding:2px 8px;
margin:0 0 0 8px;
color:#0D0D0D;
}
.bg{
width:740px;
background-image:url(../../resources/images/dash.gif);
background-position:top left;
background-repeat:repeat-y;
float:left;
overflow:hidden;
padding:0 0 5px 0
}
.column1{
width:465px;
padding:10px 50px 0 7px;
color:#333333;
float:left;
}

.column1 p{
display:block;
width:460px;
padding:20px 0 25px 3px
}
.inner_copy{
border:0;
color:#fff;
float:right;
width:0.09%!important;
margin:-100px;
overflow:hidden;
line-height:0px;
padding:0px;
font-size:11px
}
#items{
padding:0px 0 10px 5px;
width:480px;
float:left;
overflow:hidden;
}
.item{
width:100px;
float:left;
margin:0 12px 0 5px;
float:left;
}
.item img{float:left}
/* .item span{
background-image:url(../../resources/images/span_bg.gif);
background-position:top left;
background-repeat:no-repeat;
display:block;
float:left;
height:18px;
line-height:18px;
width:235px;
padding:0 0 0 9px;
} */
.item a{
color:#FFFFFF;
text-decoration:none
}
.column2{
width:200px;
float:left;
padding:10px 0 0 10px
}
.column3{
width:465px;
padding:10px 50px 0 7px;
color:#333333;
float:left;
}
.column4{
width:200px;
float:left;
padding:15px 0 0 10px
}

.column_dc{
width:465px;
padding:0px 50px 0 7px;
color:#333333;
float:left;
}

.column_dc p{
display:block;
width:460px;
}

.column_dc2{
width:200px;
float:left;
padding:10px 0 0 10px
}
.column_dc2 ul{
list-style-type: none;
}
.column_dc2 li{

}
.news{
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
color:#333333;
padding:20px 0 0 0;
float:left;
overflow:hidden;
}
.news span{
color:#FFFFFF;
display:block;
float:left;
background-color:#91A711;
line-height:17px;
padding:0 11px 0 4px;
margin:0 0 10px 0;
}
.news p{
display:block;
float:left;
width:200px;
padding:0 0 5px 0;
}
.more{
display:block;
float:left;
color:#009EDC;
text-decoration:underline
}
.more:visited{text-decoration:underline}
.more:hover{text-decoration:none}
.news img{
padding:0 0 11px 0
}
#footer{
background-image:url(../../resources/images/footer_bg.gif);
background-position:top left;
background-repeat:repeat-x;
width:950px;
margin:0 auto;
text-align:center;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
}
#footer li{
color:#E8E9E9;
display:inline;
list-style-type:none;
line-height:28px;
}
#footer li a{
color:#E8E9E9;
margin:0 10px;
text-decoration:none
}
#footer li a:visited{text-decoration:none}
#footer li a:hover{text-decoration:underline}
#footer p{
line-height:46px;
padding:5px 0 0 0;
text-align:center;
color:#323232
}
#footer p a{
color:#254A73;
text-decoration:underline
}
#footer p a:visited{text-decoration:underline}
#footer p a:hover{text-decoration:none}
.info{
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
color:#333333;
padding:18px 0 12px 0
}
.button{
background-image:url(../../resources/images/button_bg.gif);
background-position:top left;
background-repeat:no-repeat;
width:71px;
text-align:center;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
color:#FFFFFF;
text-decoration:none;
display:block;
padding:2px 0 3px 0px
}
.tree{
margin:-30px 0 17px 0;
color:#333333
}
.tree a{
color:#333333;
text-decoration:underline;
}
.tree a:visited{text-decoration:underline}
.tree a:hover{text-decoration:none}
.gallery{
padding:10px 0 0 0;
}
.gallery div{
width:472px;
overflow:hidden;
float:left;
background-color:#191919;
padding:15px 0 0 8px;
margin-bottom: 10px
}
.gallery div div{
float:left;
width:436px;
padding:0px 0 0 7px;
}
.gallery div img{
float:left;
}
.gallery div div img{
float:left;
margin:0 9px 10px 0;
}
.arrow{
margin:40px 0 0 0;
display:block;
float:left;
}
/*-----------------------------------------------------------------------------------------------------------*/

#searchbox {
	border-top-left-radius : 20px;
	border-bottom-left-radius : 20px;
	vertical-align: middle;
	width: 150px;
	height: 18px;
	float: left;
	margin-right: 5px;
	padding-left: 10px;
}
#searchicon {
	border-top-right-radius : 20px;
	border-bottom-right-radius : 20px;
	vertical-align: middle;
	width: 40px;
	height: 22px;
	float: right;
	font-size: 10pt;
	padding-right: 5px;
	margin-top: 1px;
}

/*-----------------------------------------------------------------------------------------------------------*/

#accordian {
	background: #333333;
	width: 180px;
	margin: 5px auto 0 auto;
	color: white;
	float: left;
}

/* 메뉴 스타일 */
#accordian h3 {
	font-size: 12px;
	line-height: 34px;
	padding: 0 10px;
	cursor: pointer;
	background: #064461;
	background: linear-gradient(#003040, #002535);
}

#accordian h3:hover {
	text-shadow: 0 0 1px rgba(255, 255, 255, 0.7);
}

/* 아이콘폰트 스타일 */
#accordian li {
	list-style-type: none;
}

/* 서브메뉴 스타일 */
#accordian ul ul li a {
	background-color:#555;
	color: white;
	text-decoration: none;
	font-size: 11px;
	line-height: 27px;
	display: block;
	padding: 0 15px;
	-webkit-transition: all 0.15s;
	-moz-transition: all 0.15s;
	-o-transition: all 0.15s;
	-ms-transition: all 0.15s;
	transition: all 0.15s;
}

#accordian ul ul li a:hover {
	background: #003545;
	border-left: 5px solid #09c;
}

/* active 클래스 외에 것은 보이지 않게 하기 */
#accordian ul ul {
	display: none;
}

#accordian li.active ul {
	display: block;
}

