#table1 {
/* 	border-top-color: #777;
	border-top-style: solid;
	border-top-width: 2px;*/
	border-bottom-color: #777;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-right-width:0px;
	border-left-width:0px;
}
#table1 tr {
	border-bottom-color: #777;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-right-width:0px;
	border-left-width:0px;
}
#table1 th {
	text-align: center;
	height: 25px;
	color :#fff;
	background-color: #777
	
}
#table1 td {
	height: 70px;
	text-align: center;
	border-top-color: #777;
	border-top-style: dashed; 
	border-top-width: 1px;
	border-right-width:0px;
	border-left-width:0px;	
}

#table1 .song{
	text-align: left;
	padding-left: 10px
}
#table2 {
	border-top-color: #777;
	border-top-style: solid;
	border-top-width: 2px;
	border-bottom-color: #777;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-right-width:0px;
	border-left-width:0px;
}

#table2 th {
	text-align: center;
	height: 25px;
	color :#fff;
	background-color: #777;
	border-bottom-color: #777;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}

#table2 a {
	text-decoration : none;
	color: #000
}

#table2 td {
	height: 25px;
	text-align: center;
	border-top-color: #777;
	border-top-style: dashed; 
	border-top-width: 1px;	
	border-right-width:0px;
	border-left-width:0px;
}

#table2 tr {
	border-bottom-color: #777;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}
#table2 .song{
	text-align: left;
	padding-left: 10px
}

#chart_rank{
	text-align: center;
	vertical-align: middle;
	height: 25px 
}

#chart_rank a{
	color: #777;
	text-decoration: none;
}

#chart_rank a:HOVER{
	color: #E25822;
	font-weight: bold;
	text-decoration: underline;
}

.dataTr {
	
}

.dataTr:HOVER {
	background-color: #ccccff
}

.issueArtist {
	background-color: #eee;
	width:365px ;
	height: 100px;
	display: inline-block;
	float: left;
	margin:0px 5px 5px 0;
	vertical-align: middle;
}